/*Style for custom registration*/

.login-action-register #login{
	width: 640px;
}
.login.login-action-register form{
	padding: 26px 10px 46px;
}
.login.login-action-register form .input {
    font-size: 14px;
    width: 100%;
    padding: 6px 10px;
    margin: 2px 6px 16px 0;
}
.info_header{
	margin: 20px 0 5px 0;
}

.login-action-register #login #registerform p ,.login-action-register #login #registerform h3, .login-action-register #login #registerform h4{
	width: 290px;
	float: left;
	padding: 0 10px;
}
.clear{
	clear: both;
}
.login-action-register #login #registerform p.fullwidth , .login-action-register #login #registerform h3,.login-action-register #login #registerform h4{
	width: 100%; 
}

#registerform p.checkbox span{
	display: inline-block;
}

#registerform p.checkbox input{
	display: inline-block;
	width: auto; 
	vertical-align: top;
	margin-left: 15px; 
}
#registerform ul li span{
	display: inline-block;
	list-style: none;
}