.slideshow-bg .search-box-wrapper.style5 .search-box {
	padding: 0;
}
.travelo-box .list-with-circle-icon li .title, .travelo-box.contact-us-box .contact-address li .title {
	font-size: 1.1666em;
	line-height: 1.1428em;
}
.box-title {
	font-size: 1.3333em;
}
@media (min-width: 1200px) {
	.slideshow-bg {
		height: 800px;
	}
}
.gm-style img {
	max-width: none;
}
.photo-gallery .slides img{
	max-width: 100%;
	height: auto;
}

/*CSS for booking form*/
.form-group .prefer_loacation input{
	margin: 0 5px;
    vertical-align: sub;
}
.prefer_loacation input span{
	margin: 0 5px;
    vertical-align: sub;
}